# Gitignore for projects which are created by Xilinx ISE

*.gise
*.log
*.cmd
*.html
*.xst
*.syr
*.prj
*.xml
*.cmd_log
*.stx
*.lso
*.ngc
*.ngr
*.ngd
*.bld
*.map
*.mrp
*.pcf
*.ngm
*.ncd
*.pad
*.par
*.unroutes
*.xpi
*.xrpt
*.txt
*.csv
*.ptwx
*.twr
*.twx
*.xmsgs
*.exe
*.xwbt
*.debug
*.wcfg
*.tcl
*.wdb
*.ini

*.cr.mti
vsim.wlf
impact.xsl

work
isim
xst
_ngo
xlnx_auto_0_xdb
incremental_db
db
transcript
_xmsgs/
ipcore_dir
iseconfig

# Ignore OS noise

Thumbs.db
.DS_Store
