# PlanAhead Generated IO constraints 
# -- Inputs

NET "EditEnable" CLOCK_DEDICATED_ROUTE = FALSE;

# CLK
NET "CLK" IOSTANDARD = LVCMOS18;

# Buttons
NET "Up" IOSTANDARD = LVCMOS18;
NET "Down" IOSTANDARD = LVCMOS18;
NET "Left" IOSTANDARD = LVCMOS18;
NET "Right" IOSTANDARD = LVCMOS18;

# Switch
NET "Reset" IOSTANDARD = LVCMOS18;
NET "TargetToSetTime" IOSTANDARD = LVCMOS18;
NET "EditEnable" IOSTANDARD = LVCMOS18;

# Leds
NET "AlarmLed" IOSTANDARD = LVCMOS18;

# -- Outputs

# Audio
NET "Audio" IOSTANDARD = LVCMOS18;

# DisplayControl
NET "DisplayControl[5]" IOSTANDARD = LVCMOS18;
NET "DisplayControl[4]" IOSTANDARD = LVCMOS18;
NET "DisplayControl[3]" IOSTANDARD = LVCMOS18;
NET "DisplayControl[2]" IOSTANDARD = LVCMOS18;
NET "DisplayControl[1]" IOSTANDARD = LVCMOS18;
NET "DisplayControl[0]" IOSTANDARD = LVCMOS18;

# DisplayData
NET "DisplayData[6]" IOSTANDARD = LVCMOS18;
NET "DisplayData[5]" IOSTANDARD = LVCMOS18;
NET "DisplayData[4]" IOSTANDARD = LVCMOS18;
NET "DisplayData[3]" IOSTANDARD = LVCMOS18;
NET "DisplayData[2]" IOSTANDARD = LVCMOS18;
NET "DisplayData[1]" IOSTANDARD = LVCMOS18;
NET "DisplayData[0]" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

# -- Inputs

# CLK
NET "CLK" LOC = E3;

# Buttons
NET "Up" LOC = F15;
NET "Down" LOC = V10;
NET "Left" LOC = T16;
NET "Right" LOC = R10;

# Switch
NET "Reset" LOC = E16;
NET "TargetToSetTime" LOC = U9;
NET "EditEnable" LOC = U8;

# -- Outputs

# Audio
NET "Audio" LOC = A11;

# Leds
NET "AlarmLed" LOC = P2;

# DisplayControl
NET "DisplayControl[5]" LOC = M1;
NET "DisplayControl[4]" LOC = L1;
NET "DisplayControl[3]" LOC = N4;
NET "DisplayControl[2]" LOC = N2;
NET "DisplayControl[1]" LOC = N5;
NET "DisplayControl[0]" LOC = M3;

# DisplayData
NET "DisplayData[6]" LOC = L3;
NET "DisplayData[5]" LOC = N1;
NET "DisplayData[4]" LOC = L5;
NET "DisplayData[3]" LOC = L4;
NET "DisplayData[2]" LOC = K3;
NET "DisplayData[1]" LOC = M2;
NET "DisplayData[0]" LOC = L6;
